/* Productdetails CSS */

#productdetails__imagehalsband, #productdetails__extrainformatiediv, #productdetails__illustratie {
    padding-top: 10%;
    margin: auto;
    display: block;
}

#productdetails__extrainformatiediv {
    padding-top: 5%;
}

#productdetails__imagehalsband, #productdetails__illustratie {
    padding-top: 5%;
    width: 50%;
}

.productdetails__extrainformatieproduct {
    width: 33%;
    float: left;
    text-align: center;
}

.productdetails__iconenextrainfoproduct {
    margin-bottom: 5%;
}

#productdetails__contactinformatie {
    clear: both;
    text-align: center;
}

#productdetails__nieuwproduct {
    width: fit-content;
    margin: 5% 0 0;
    color: #FDC553;
    font-weight: 700;
}

#productdetails__naamproduct {
    margin: 0;
}

#productdetails__starreview {
    margin-top: 1%;
}

.productdetails__starimage {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 0.20%;
}

#productdetails__reviews {
    margin: 0 0 0 15%;
    width: fit-content;
    display: block;
    overflow: auto;
    text-decoration-line: underline;
}

#productdetails__prijsproduct {
    margin-top: 1%;
}

#productdetails__productbeschrijving {
    margin-top: 5%;
}

.productdetails__productpersonalisatie {
    margin-top: 5%;
}

.productdetails__select {
    background-color: RGB(255, 227, 175, 0.5);
    border: 1px solid #ABCAC1;
    border-radius: 10px;
    width: 30%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 16px;
}

#productdetails__divbutton {
    display: flex;
}

.productdetails__buttons {
    background-color: RGB(255, 227, 175);
    border: 1px solid #ABCAC1;
    border-radius: 10px;
}

.productdetails__disabledbuttons {
    background-color: rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    border: 1px solid #ABCAC1;
    width: 18%;
    min-width: 18%;
    margin: 2% 5% 3% 0;
    display: flex;
    height: 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#productdetails__winkelwagenbutton button {
    margin: 5% auto auto;
    display: block;
    padding-left: 2%;
    padding-right: 2%;
 }

@media screen and (max-width: 1024px) {
    .productdetails__disabledbuttons {
        width: 40%;
    }

    .productdetails__select {
        width: 60%;
        margin-top: 1%;
    }

    #productdetails__reviews {
        padding-left: 3%;
    }
}

@media screen and (max-width: 768px) {
    #productdetails__imagehalsband, #productdetails__illustratie {
        width: 100%;
    }

    #productdetails__imagehalsband {
        position: relative;
        top: 15%;
    }

    .productdetails__disabledbuttons {
        width: 35%;
    }

    .productdetails__select {
        width: 70%;
        margin-top: 1%;
    }

    #productdetails__winkelwagenbutton button {
        margin: 10% auto;
        display: block;
        padding-left: 2%;
        padding-right: 2%;
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    #productdetails__imagehalsband {
        position: relative;
        top: 0;
    }
}
